rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }
    function isUser() {
      return request.auth != null;
    }

    match /topics/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /subtopics/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /formulas/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /questions/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /homepage_feed/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /history/{docId} {
      allow read, write: if isUser();
    }

    match /users/{userId} {
      allow read: if isUser() && request.auth.uid == userId;
      allow write: if isUser() && request.auth.uid == userId;
    }

    match /users/{userId}/progress/{docId} {
      allow read, write: if isUser() && request.auth.uid == userId;
    }

    match /users/{userId}/practiceProgress/{docId} {
      allow read, write: if isUser() && request.auth.uid == userId;
    }

    match /calculations/{docId} {
      allow read, write: if isUser();
    }
  }
}
