.progress-container {
  width: 44.2%;
  margin-left: calc(23.2%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.progress-container::-webkit-scrollbar { width: 0; }

.progress-header {
  position: fixed;
  width: 43.7%;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: blur(50px);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.progress-header h2 {
  font-size: 1.2rem;
  margin: 0;
  color: var(--text-color);
}

.progress-content {
  flex: 1;
  overflow-y: auto;
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
  scrollbar-width: none;
}

.progress-content::-webkit-scrollbar { width: 0; }

.chart-title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: var(--text-color);
}

.full-chart {
  margin-bottom: 60px;
  padding: 20px;
  padding-right: 55px;
  padding-left: 3px;
  background: var(--background-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
  outline: none !important;
}

.mastered-topics {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background: var(--background-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.mastered-topics h3 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text-color);
}

.topic-bar .topic-label {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-bottom: 4px;
  font-size: 0.95rem;
}

.topic-progress {
  width: 100%;
  background: var(--card-bg);
  height: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.topic-fill {
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 20px;
}

.custom-tooltip {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 6px 10px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.custom-tooltip .tooltip-time {
  color: var(--primary-color);
  font-weight: bold;
}

.practice-tooltip {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 6px 10px;
  color: var(--text-color);
  font-size: 0.8rem;
}

.progress-menu { position: relative; }

.menu-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
}

.progress-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  width: 200px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 8px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.progress-dropdown button {
  width: 100%;
  background: var(--background-color);
  color: var(--text-color);
  border: 1px solid #777;
  border-radius: 6px;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s ease;
}

.progress-dropdown button:hover,
.progress-dropdown button.active {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.recharts-wrapper,
.recharts-surface {
  outline: none !important;
}

.recharts-x-axis .recharts-cartesian-axis-tick text {
  font-size: 0.8rem;
  fill: var(--text-color);
}