/* ---------- Register button only ---------- */
.register-btn {
 margin-left: 50px !important;   /* cancel the 100px */
  transform: translateX(-20px);
}

.register-btn:hover {
  background: black;
  color: cyan;
  border: 1px solid cyan;
}
