/* ---------- Register button only ---------- */
.register-btn {
  margin-left: 50px !important;
  transform: translateX(-20px);
}

.register-btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}