.topic-content-page {
  width: 44.2%;
  margin-left: calc(23.2%);
  height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-y: auto;
  padding-top: 70px;
}

.topic-content-page::-webkit-scrollbar { width: 0; }

.topic-content-header {
  position: fixed;
  width: 43.7%;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: blur(50px);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.topic-content-header h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.back-button {
  padding: 6px 12px;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  color: var(--text-color);
  background: transparent;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.back-button:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.session-timer {
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
  white-space: nowrap;
  padding-bottom: 40px;
}

.topic-content-body {
  padding: 20px;
  padding-top: 0%;
}

.topic-content-body h3,
.topic-content-body h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: underline;
  text-decoration-color: var(--text-color);
  text-decoration-thickness: 3px;
  padding-bottom: 10px;
}

.overview-text {
  text-align: left;
  font-size: 18px;
  color: var(--text-color);
}

.formula-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.formula-table th,
.formula-table td {
  border: 0.5px solid var(--border-color);
  padding: 8px;
  text-align: left;
}

.formula-table th {
  background-color: var(--background-color);
}

.formula-text {
  font-family: monospace;
  color: var(--primary-color);
  font-size: 1rem;
}

.mistake-block {
  background-color: rgba(255,255,255,0.05);
  border-left: 4px solid red;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 17px;
}

.example-card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(255,255,255,0.02);
}

.solution-btn {
  background: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.solution-btn:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.solution-box {
  background: var(--background-color);
  padding: 10px;
  margin-top: 8px;
  border-radius: 3px;
  border-left: 3px solid var(--primary-color);
  white-space: pre-wrap;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.4s ease-out forwards;
}

@keyframes fadeInUp {
  to { opacity: 1; transform: translateY(0); }
}